html,
body {
  background-color: white;
}

video {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #f00;
  }
}

p.brand {
  a {
    color: #f00;
    font-size: 0.7em;
    position: fixed;
    bottom: 1vh;
    left: 47vw;
  }
}

.content {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 50vw;
  margin: 75vh auto 5vh auto;

  > p {
    font-family: sans-serif;
    margin: 0;
    color: #fff;
    font-size: 24px;
    text-shadow: #000 3px 3px 0;
  }
}

//@ MOBILE
@media (max-width: 767px) {
  .content {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 0;
  }

  p {
    font-family: sans-serif;
    margin: 0;
    color: #fff;
  }
}
